apiVersion: v1
kind: ConfigMap
metadata:
  name: delayed-notifier-config
  namespace: delayed-notifier
data:
  ENV: "trace"

  DELAYED_NOTIFIER_POSTGRES_SLAVE_DSNS: ""
  DELAYED_NOTIFIER_POSTGRES_MAX_OPEN_CONNECTIONS: "3"
  DELAYED_NOTIFIER_POSTGRES_MAX_IDLE_CONNECTIONS: "5"
  DELAYED_NOTIFIER_POSTGRES_CONNECTION_MAX_LIFETIME_SECONDS: "0"

  DELAYED_NOTIFIER_RABBITMQ_USER: "notifier_user"
  DELAYED_NOTIFIER_RABBITMQ_HOST: "rabbitmq"
  DELAYED_NOTIFIER_RABBITMQ_PORT: "5672"
  DELAYED_NOTIFIER_RABBITMQ_VHOST: "/"
  DELAYED_NOTIFIER_RABBITMQ_EXCHANGE: "notifications"
  DELAYED_NOTIFIER_RABBITMQ_QUEUE: "notifications"

  DELAYED_NOTIFIER_REDIS_HOST: "redis"
  DELAYED_NOTIFIER_REDIS_PORT: "6379"
  DELAYED_NOTIFIER_REDIS_DB: "0"
  DELAYED_NOTIFIER_REDIS_EXPIRATION: "5000000"

  DELAYED_NOTIFIER_SERVER_HOST: "0.0.0.0"
  DELAYED_NOTIFIER_SERVER_PORT: "8089"

  DELAYED_NOTIFIER_RETRY_RABBITMQ_RETRY_ATTEMPTS: "5"
  DELAYED_NOTIFIER_RETRY_RABBITMQ_DELAY_MS: "500"
  DELAYED_NOTIFIER_RETRY_RABBITMQ_BACKOFF: "2"

  DELAYED_NOTIFIER_RETRY_POSTGRES_ATTEMPTS: "5"
  DELAYED_NOTIFIER_RETRY_POSTGRES_DELAY_MS: "500"
  DELAYED_NOTIFIER_RETRY_POSTGRES_BACKOFF: "2"

  DELAYED_NOTIFIER_RETRY_STORE_REPO_ATTEMPTS: "3"
  DELAYED_NOTIFIER_RETRY_STORE_REPO_DELAY_MS: "300"
  DELAYED_NOTIFIER_RETRY_STORE_REPO_BACKOFF: "1.5"

  DELAYED_NOTIFIER_RETRY_RABBIT_REPO_ATTEMPTS: "6"
  DELAYED_NOTIFIER_RETRY_RABBIT_REPO_DELAY_MS: "400"
  DELAYED_NOTIFIER_RETRY_RABBIT_REPO_BACKOFF: "2"

  DELAYED_NOTIFIER_RETRY_REDIS_REPO_ATTEMPTS: "4"
  DELAYED_NOTIFIER_RETRY_REDIS_REPO_DELAY_MS: "200"
  DELAYED_NOTIFIER_RETRY_REDIS_REPO_BACKOFF: "1.5"

  DELAYED_NOTIFIER_RETRY_CONSUMER_ATTEMPTS: "5"
  DELAYED_NOTIFIER_RETRY_CONSUMER_DELAY_MS: "500"
  DELAYED_NOTIFIER_RETRY_CONSUMER_BACKOFF: "2"

  DELAYED_NOTIFIER_RETRY_RECEIVER_ATTEMPTS: "3"
  DELAYED_NOTIFIER_RETRY_RECEIVER_DELAY_MS: "300"
  DELAYED_NOTIFIER_RETRY_RECEIVER_BACKOFF: "1.5"

  CHECK_PERIOD: "50ms"

  POSTGRES_USER: "notifier_user"
  POSTGRES_DB: "notifier_db"

  RABBITMQ_DEFAULT_USER: "notifier_user"
  RABBITMQ_DEFAULT_VHOST: "/"
