apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: delayed-notifier-pvc
  namespace: delayed-notifier
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: delayed-notifier
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc
  namespace: delayed-notifier
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
