apiVersion: v1
kind: ConfigMap
metadata:
  name: worker-config
  namespace: delayed-notifier
data:
  ENV: "trace"

  # RabbitMQ (без пароля)
  DELAYED_NOTIFIER_RABBITMQ_USER: "notifier_user"
  DELAYED_NOTIFIER_RABBITMQ_HOST: "rabbitmq"
  DELAYED_NOTIFIER_RABBITMQ_PORT: "5672"
  DELAYED_NOTIFIER_RABBITMQ_VHOST: "/"
  DELAYED_NOTIFIER_RABBITMQ_EXCHANGE: "notifications"
  DELAYED_NOTIFIER_RABBITMQ_QUEUE: "notifications"

  CHECK_PERIOD: "50ms"

  # Retry: Consumer
  DELAYED_NOTIFIER_RETRY_CONSUMER_ATTEMPTS: "5"
  DELAYED_NOTIFIER_RETRY_CONSUMER_DELAY_MS: "500"
  DELAYED_NOTIFIER_RETRY_CONSUMER_BACKOFF: "2"

  # Retry: Receiver
  DELAYED_NOTIFIER_RETRY_RECEIVER_ATTEMPTS: "3"
  DELAYED_NOTIFIER_RETRY_RECEIVER_DELAY_MS: "300"
  DELAYED_NOTIFIER_RETRY_RECEIVER_BACKOFF: "1.5"
