services:
  postgres_master:
    image: postgres:latest
    ports:
      - "5435:5432"
    env_file:
      - ../config/.env
    volumes:
      - postgres_master_data:/var/lib/postgresql
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "pg_isready", "-d", "delayed_notifier", "-U", "delayed_notifier" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:4.1-management-alpine
    hostname: rabbitmq
    restart: unless-stopped
    env_file:
      - ../config/.env
    volumes:
      - ../rabbitmq/myrabbit.conf:/etc/rabbitmq/rabbitmq.conf
    ports:
      - "15672:15672"
      - "5672:5672"
    healthcheck:
      test: [ "CMD-SHELL", "rabbitmq-diagnostics -q ping" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - backend
  redis:
    image: redis:7-alpine
    container_name: my-redis
    restart: unless-stopped
    env_file:
      - ../config/.env
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - backend


volumes:
  postgres_master_data:


networks:
  backend:
    driver: bridge
