services:
  delayed_notifier:
    build:
      context: ../delayed-notifier # путь до папки где Dockerfile и go.mod
      dockerfile: Dockerfile
    image: delayed_notifier:latest
    restart: unless-stopped
    # entrypoint: "sleep 1h"
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres_master:
        condition: service_healthy
      redis:
        condition: service_healthy
    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    env_file:
      - ../config/.env
    ports:
      - "8089:8089"
    expose:
      - "8089"
    networks:
      - backend
  worker:
    build:
      context: ../worker # путь до папки где Dockerfile и go.mod
      dockerfile: Dockerfile
    image: worker:latest
    restart: unless-stopped
    # entrypoint: "sleep 1h"
    depends_on:
      rabbitmq:
        condition: service_healthy
    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"
    env_file:
      - ../config/.env
    networks:
      - backend
  postgres_master:
    image: postgres:latest
    ports:
      - "5435:5432"
    env_file:
      - ../config/.env
    volumes:
      - postgres_master_data:/var/lib/postgresql
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "pg_isready", "-d", "delayed_notifier", "-U", "delayed_notifier" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:4.1-management-alpine
    hostname: rabbitmq
    restart: unless-stopped
    env_file:
      - ../config/.env
    volumes:
      - ../rabbitmq/myrabbit.conf:/etc/rabbitmq/rabbitmq.conf
    ports:
      - "15672:15672"
      - "5672:5672"
    healthcheck:
      test: [ "CMD-SHELL", "rabbitmq-diagnostics -q ping" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - backend
  redis:
    image: redis:7-alpine
    container_name: my-redis
    restart: unless-stopped
    env_file:
      - ../config/.env
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - backend

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    ports:
      - "9080:9080"
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ../logsAndMetrics/promtail-config.yaml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    privileged: true
    networks:
      - backend

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ../logsAndMetrics/loki-config.yaml:/etc/loki/local-config.yaml
    networks:
      - backend

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ../logsAndMetrics/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheusdata:/prometheus
    networks:
      - backend

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ../logsAndMetrics/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
      - grafanadata:/var/lib/grafana
    networks:
      - backend
    
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    restart: unless-stopped
    volumes:
      - ../nginx/conf.d:/etc/nginx/conf.d
      - ../nginx/static:/var/static
    depends_on:
      delayed_notifier:
        condition: service_started
    networks:
      - backend

volumes:
  postgres_master_data:
  grafanadata:
  prometheusdata:


networks:
  backend:
    driver: bridge
