services:
  postgres:
    image: postgres:latest
    ports:
      - "5432:5432"
    env_file:
      - ../config/.env
    volumes:
      - postgres_data:/var/lib/postgresql
      - /Users/egortujmukov/Desktop/Go_WB/L3_DelayedNotifier/internal/migrations:/docker-entrypoint-initdb.d:ro
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "pg_isready", "-d", "delayed_notifier", "-U", "delayed_notifier" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:4.1-management-alpine
    hostname: rabbitmq
    restart: unless-stopped
    env_file:
      - ../config/.env
    ports:
      - "15672:15672"
      - "5672:5672"
    healthcheck:
      test: [ "CMD-SHELL", "rabbitmq-diagnostics -q ping" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - backend

volumes:
  postgres_data:


networks:
  backend:
    driver: bridge
